/*************************/
/***** MAIN THEME *******/
/***********************/
/******* MODAUX *******/
.modal-content {
  background-color: #fff;
  border-color: #404040;
  box-shadow: 0 0 50px 35px white;
}

.modal-content button {
  border-color: #404040;
}

.modal-content button:hover {
  background-color: #404040;
  color: #fff;
}

/******* CARDS *******/
#cards-game {
  background-color: #fff;
}

.card-module {
  background-color: var(--main-theme-background-card);
}

.card-module--disabled img {
  filter: grayscale(100%);
  opacity: 0.5;
}

.button--disabled {
  background-color: #7e7e7e !important;
  color: #cecece !important;
  cursor: default;
}

/****** TOOLTIPS ******/
.tooltip {
  color: #fff;
}

.theme-selection label:after {
  color: #fff;
}

.checkbox-wrapper .tgl:checked + .tgl-btn:after {
  background-color: #fff;
}

.tgl:checked {
  border-color: #fff !important;
}

.tgl-checked {
  border-color: #fff !important;
}

.group-list {
  color: #fff;
}

.basement-theme {
  background-color: #42291A;
}
.basement-theme button.themed {
  background-color: #71472D;
}
.basement-theme button.themed:hover {
  background-color: #503220;
}
.basement-theme h1 > span {
  color: #FF5B5B;
}
.basement-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #281910);
  -moz-filter: drop-shadow(0px 7px 0 #281910);
  filter: drop-shadow(0px 7px 0 #281910);
}
.basement-theme .card-module {
  background-color: #F3E7E1;
}
.basement-theme .card-module--selected {
  background-color: #7e7e7e;
}
.basement-theme #cards-game, .basement-theme #options {
  background-color: #fff;
}
.basement-theme button.default, .basement-theme .button--default {
  background-color: #C08560;
  border: 2px solid #71472D;
}
.basement-theme button.default:hover, .basement-theme .button--default:hover {
  background-color: #aa6b43;
  cursor: pointer;
}
.basement-theme .button--submit {
  background-color: #FFC000;
}
.basement-theme .button--submit:hover {
  background-color: #ad8200;
}
.basement-theme .tooltip {
  background-color: #71472D;
}
.basement-theme .tooltip-active::after {
  border-color: #71472D transparent transparent transparent;
}
.basement-theme select {
  background-color: #42291A;
}
.basement-theme .checkbox-wrapper {
  border: 3px solid #C08560;
  background: #42291A;
}
.basement-theme input[type=range] {
  background: #C08560;
}
.basement-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #42291A;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.basement-theme .tgl-theme {
  border: 1px solid #C08560;
}
.basement-theme .tgl-theme + .tgl-btn:after {
  background: #C08560;
}
@media (min-width: 768px) {
  .basement-theme #tooltip-wrapper::after {
    border-color: transparent transparent #71472D transparent;
  }
}
@media (max-width: 768px) {
  .basement-theme #tooltips.active {
    background-color: #71472D;
  }
}
.basement-theme .button--language {
  border: 2px solid #71472D;
}
.basement-theme .button--language-active {
  font-weight: bold;
  background-color: #503220;
}

.mausoleum-theme {
  background-color: #2F1D2E;
}
.mausoleum-theme button.themed {
  background-color: #5F3B5D;
}
.mausoleum-theme button.themed:hover {
  background-color: #422a40;
}
.mausoleum-theme h1 > span {
  color: #C301FF;
}
.mausoleum-theme .medias {
  fill: #E5DDEB;
}
.mausoleum-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #1C111C);
  -moz-filter: drop-shadow(0px 7px 0 #1C111C);
  filter: drop-shadow(0px 7px 0 #1C111C);
}
.mausoleum-theme .card-module {
  background-color: #E5DDEB;
}
.mausoleum-theme .card-module--selected {
  background-color: #9b7db2;
}
.mausoleum-theme #cards-game, .mausoleum-theme #options {
  background-color: #fff;
}
.mausoleum-theme button.default, .mausoleum-theme .button--default {
  background-color: #9a6cb1;
  border: 2px solid #5F3B5D;
}
.mausoleum-theme button.default:hover, .mausoleum-theme .button--default:hover {
  background-color: #815199;
  cursor: pointer;
}
.mausoleum-theme .button--submit {
  background-color: #C301FF;
}
.mausoleum-theme .button--submit:hover {
  background-color: #9601c3;
}
.mausoleum-theme .tooltip {
  background-color: #5F3B5D;
}
.mausoleum-theme .tooltip-active::after {
  border-color: #5F3B5D transparent transparent transparent;
}
.mausoleum-theme select {
  background-color: #2F1D2E;
}
.mausoleum-theme .checkbox-wrapper {
  border: 3px solid #9a6cb1;
  background: #2F1D2E;
}
.mausoleum-theme input[type=range] {
  background: #9a6cb1;
}
.mausoleum-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #2F1D2E;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.mausoleum-theme .tgl-theme {
  border: 1px solid #9a6cb1;
}
.mausoleum-theme .tgl-theme + .tgl-btn:after {
  background: #9a6cb1;
}
@media (min-width: 768px) {
  .mausoleum-theme #tooltip-wrapper::after {
    border-color: transparent transparent #5F3B5D transparent;
  }
}
@media (max-width: 768px) {
  .mausoleum-theme #tooltips.active {
    background-color: #5F3B5D;
  }
}
.mausoleum-theme .button--language {
  border: 2px solid #5F3B5D;
}
.mausoleum-theme .button--language-active {
  font-weight: bold;
  background-color: #422a40;
}

.flooded-caves-theme {
  background-color: #1D2A4F;
}
.flooded-caves-theme button.themed {
  background-color: #385094;
}
.flooded-caves-theme button.themed:hover {
  background-color: #73B1F5;
}
.flooded-caves-theme h1 > span {
  color: #73B1F5;
}
.flooded-caves-theme .medias {
  fill: #E3E8F9;
}
.flooded-caves-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #17223F);
  -moz-filter: drop-shadow(0px 7px 0 #17223F);
  filter: drop-shadow(0px 7px 0 #17223F);
}
.flooded-caves-theme .card-module {
  background-color: #E3E8F9;
}
.flooded-caves-theme .card-module--selected {
  background-color: #73B1F5;
}
.flooded-caves-theme #cards-game, .flooded-caves-theme #options {
  background-color: #fff;
}
.flooded-caves-theme button.default, .flooded-caves-theme .button--default {
  background-color: #73B1F5;
  border: 2px solid #385094;
}
.flooded-caves-theme button.default:hover, .flooded-caves-theme .button--default:hover {
  background-color: #4396f2;
  cursor: pointer;
}
.flooded-caves-theme .button--submit {
  background-color: #73B1F5;
}
.flooded-caves-theme .button--submit:hover {
  background-color: #385094;
}
.flooded-caves-theme .tooltip {
  background-color: #385094;
}
.flooded-caves-theme .tooltip-active::after {
  border-color: #385094 transparent transparent transparent;
}
.flooded-caves-theme select {
  background-color: #1D2A4F;
}
.flooded-caves-theme .checkbox-wrapper {
  border: 3px solid #73B1F5;
  background: #1D2A4F;
}
.flooded-caves-theme input[type=range] {
  background: #73B1F5;
}
.flooded-caves-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #1D2A4F;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.flooded-caves-theme .tgl-theme {
  border: 1px solid #73B1F5;
}
.flooded-caves-theme .tgl-theme + .tgl-btn:after {
  background: #73B1F5;
}
@media (min-width: 768px) {
  .flooded-caves-theme #tooltip-wrapper::after {
    border-color: transparent transparent #385094 transparent;
  }
}
@media (max-width: 768px) {
  .flooded-caves-theme #tooltips.active {
    background-color: #385094;
  }
}
.flooded-caves-theme .button--language {
  border: 2px solid #385094;
}
.flooded-caves-theme .button--language-active {
  font-weight: bold;
  background-color: #73B1F5;
}

.green-theme {
  background-color: #242A0C;
}
.green-theme button.themed {
  background-color: #465117;
}
.green-theme button.themed:hover {
  background-color: #6A7B23;
}
.green-theme h1 > span {
  color: #A6D60C;
}
.green-theme .medias {
  fill: #E9F0CC;
}
.green-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #1D220A);
  -moz-filter: drop-shadow(0px 7px 0 #1D220A);
  filter: drop-shadow(0px 7px 0 #1D220A);
}
.green-theme .card-module {
  background-color: #E9F0CC;
}
.green-theme .card-module--selected {
  background-color: #A6D60C;
}
.green-theme #cards-game, .green-theme #options {
  background-color: #fff;
}
.green-theme button.default, .green-theme .button--default {
  background-color: #A6D60C;
  border: 2px solid #465117;
}
.green-theme button.default:hover, .green-theme .button--default:hover {
  background-color: #81a609;
  cursor: pointer;
}
.green-theme .button--submit {
  background-color: #A6D60C;
}
.green-theme .button--submit:hover {
  background-color: #6A7B23;
}
.green-theme .tooltip {
  background-color: #465117;
}
.green-theme .tooltip-active::after {
  border-color: #465117 transparent transparent transparent;
}
.green-theme select {
  background-color: #242A0C;
}
.green-theme .checkbox-wrapper {
  border: 3px solid #A6D60C;
  background: #242A0C;
}
.green-theme input[type=range] {
  background: #A6D60C;
}
.green-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #242A0C;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.green-theme .tgl-theme {
  border: 1px solid #A6D60C;
}
.green-theme .tgl-theme + .tgl-btn:after {
  background: #A6D60C;
}
@media (min-width: 768px) {
  .green-theme #tooltip-wrapper::after {
    border-color: transparent transparent #465117 transparent;
  }
}
@media (max-width: 768px) {
  .green-theme #tooltips.active {
    background-color: #465117;
  }
}
.green-theme .button--language {
  border: 2px solid #465117;
}
.green-theme .button--language-active {
  font-weight: bold;
  background-color: #6A7B23;
}

.catacombs-theme {
  background-color: #2D1E19;
}
.catacombs-theme button.themed {
  background-color: #5B3D33;
}
.catacombs-theme button.themed:hover {
  background-color: #B78C69;
}
.catacombs-theme h1 > span {
  color: #B78C69;
}
.catacombs-theme .medias {
  fill: #F0E7E0;
}
.catacombs-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #241814);
  -moz-filter: drop-shadow(0px 7px 0 #241814);
  filter: drop-shadow(0px 7px 0 #241814);
}
.catacombs-theme .card-module {
  background-color: #F0E7E0;
}
.catacombs-theme .card-module--selected {
  background-color: #a8a19b;
}
.catacombs-theme #cards-game, .catacombs-theme #options {
  background-color: #fff;
}
.catacombs-theme button.default, .catacombs-theme .button--default {
  background-color: #B78C69;
  border: 2px solid #5B3D33;
}
.catacombs-theme button.default:hover, .catacombs-theme .button--default:hover {
  background-color: #a0724d;
  cursor: pointer;
}
.catacombs-theme .button--submit {
  background-color: #B78C69;
}
.catacombs-theme .button--submit:hover {
  background-color: #9e795a;
}
.catacombs-theme .tooltip {
  background-color: #5B3D33;
}
.catacombs-theme .tooltip-active::after {
  border-color: #5B3D33 transparent transparent transparent;
}
.catacombs-theme select {
  background-color: #2D1E19;
}
.catacombs-theme .checkbox-wrapper {
  border: 3px solid #B78C69;
  background: #2D1E19;
}
.catacombs-theme input[type=range] {
  background: #B78C69;
}
.catacombs-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #2D1E19;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.catacombs-theme .tgl-theme {
  border: 1px solid #B78C69;
}
.catacombs-theme .tgl-theme + .tgl-btn:after {
  background: #B78C69;
}
@media (min-width: 768px) {
  .catacombs-theme #tooltip-wrapper::after {
    border-color: transparent transparent #5B3D33 transparent;
  }
}
@media (max-width: 768px) {
  .catacombs-theme #tooltips.active {
    background-color: #5B3D33;
  }
}
.catacombs-theme .button--language {
  border: 2px solid #5B3D33;
}
.catacombs-theme .button--language-active {
  font-weight: bold;
  background-color: #B78C69;
}

.ph-theme {
  background-color: #DED4C8;
}
.ph-theme button.themed {
  background-color: #000000;
}
.ph-theme button.themed:hover {
  background-color: #FF7621;
}
.ph-theme h1 > span {
  color: #FF7621;
}
.ph-theme .medias {
  fill: #FFEFE5;
}
.ph-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #B2AAA0);
  -moz-filter: drop-shadow(0px 7px 0 #B2AAA0);
  filter: drop-shadow(0px 7px 0 #B2AAA0);
}
.ph-theme .card-module {
  background-color: #FFEFE5;
}
.ph-theme .card-module--selected {
  background-color: #a8a19b;
}
.ph-theme #cards-game, .ph-theme #options {
  background-color: #fff;
}
.ph-theme button.default, .ph-theme .button--default {
  background-color: #FF7621;
  border: 2px solid #000000;
}
.ph-theme button.default:hover, .ph-theme .button--default:hover {
  background-color: #ed5b00;
  cursor: pointer;
}
.ph-theme .button--submit {
  background-color: #FF7621;
}
.ph-theme .button--submit:hover {
  background-color: #cf5d16;
}
.ph-theme .tooltip {
  background-color: #000000;
}
.ph-theme .tooltip-active::after {
  border-color: #000000 transparent transparent transparent;
}
.ph-theme select {
  background-color: #DED4C8;
}
.ph-theme .checkbox-wrapper {
  border: 3px solid #FF7621;
  background: #DED4C8;
}
.ph-theme input[type=range] {
  background: #FF7621;
}
.ph-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #DED4C8;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.ph-theme .tgl-theme {
  border: 1px solid #FF7621;
}
.ph-theme .tgl-theme + .tgl-btn:after {
  background: #FF7621;
}
@media (min-width: 768px) {
  .ph-theme #tooltip-wrapper::after {
    border-color: transparent transparent #000000 transparent;
  }
}
@media (max-width: 768px) {
  .ph-theme #tooltips.active {
    background-color: #000000;
  }
}
.ph-theme .button--language {
  border: 2px solid #000000;
}
.ph-theme .button--language-active {
  font-weight: bold;
  background-color: #FF7621;
}

.depths-theme {
  background-color: #262626;
}
.depths-theme button.themed {
  background-color: #595959;
}
.depths-theme button.themed:hover {
  background-color: #767171;
}
.depths-theme h1 > span {
  color: #AFABAB;
}
.depths-theme .medias {
  fill: #E7E6E6;
}
.depths-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #1E1E1E);
  -moz-filter: drop-shadow(0px 7px 0 #1E1E1E);
  filter: drop-shadow(0px 7px 0 #1E1E1E);
}
.depths-theme .card-module {
  background-color: #E7E6E6;
}
.depths-theme .card-module--selected {
  background-color: #cacaca;
}
.depths-theme #cards-game, .depths-theme #options {
  background-color: #fff;
}
.depths-theme button.default, .depths-theme .button--default {
  background-color: #AFABAB;
  border: 2px solid #595959;
}
.depths-theme button.default:hover, .depths-theme .button--default:hover {
  background-color: #969191;
  cursor: pointer;
}
.depths-theme .button--submit {
  background-color: #AFABAB;
}
.depths-theme .button--submit:hover {
  background-color: #595959;
}
.depths-theme .tooltip {
  background-color: #595959;
}
.depths-theme .tooltip-active::after {
  border-color: #595959 transparent transparent transparent;
}
.depths-theme select {
  background-color: #262626;
}
.depths-theme .checkbox-wrapper {
  border: 3px solid #AFABAB;
  background: #262626;
}
.depths-theme input[type=range] {
  background: #AFABAB;
}
.depths-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #262626;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.depths-theme .tgl-theme {
  border: 1px solid #AFABAB;
}
.depths-theme .tgl-theme + .tgl-btn:after {
  background: #AFABAB;
}
@media (min-width: 768px) {
  .depths-theme #tooltip-wrapper::after {
    border-color: transparent transparent #595959 transparent;
  }
}
@media (max-width: 768px) {
  .depths-theme #tooltips.active {
    background-color: #595959;
  }
}
.depths-theme .button--language {
  border: 2px solid #595959;
}
.depths-theme .button--language-active {
  font-weight: bold;
  background-color: #767171;
}

.dank-depths-theme {
  background-color: #17171B;
}
.dank-depths-theme button.themed {
  background-color: #363640;
}
.dank-depths-theme button.themed:hover {
  background-color: #525262;
}
.dank-depths-theme h1 > span {
  color: #959ABD;
}
.dank-depths-theme .medias {
  fill: #8489B2;
}
.dank-depths-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #121216);
  -moz-filter: drop-shadow(0px 7px 0 #121216);
  filter: drop-shadow(0px 7px 0 #121216);
}
.dank-depths-theme .card-module {
  background-color: #8489B2;
}
.dank-depths-theme .card-module--selected {
  background-color: #3c4061;
}
.dank-depths-theme #cards-game, .dank-depths-theme #options {
  background-color: #959ABD;
}
.dank-depths-theme button.default, .dank-depths-theme .button--default {
  background-color: #c0c6f3;
  border: 2px solid #363640;
}
.dank-depths-theme button.default:hover, .dank-depths-theme .button--default:hover {
  background-color: #959feb;
  cursor: pointer;
}
.dank-depths-theme .button--submit {
  background-color: #959ABD;
}
.dank-depths-theme .button--submit:hover {
  background-color: #474c72;
}
.dank-depths-theme .tooltip {
  background-color: #363640;
}
.dank-depths-theme .tooltip-active::after {
  border-color: #363640 transparent transparent transparent;
}
.dank-depths-theme select {
  background-color: #17171B;
}
.dank-depths-theme .checkbox-wrapper {
  border: 3px solid #c0c6f3;
  background: #17171B;
}
.dank-depths-theme input[type=range] {
  background: #c0c6f3;
}
.dank-depths-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #17171B;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.dank-depths-theme .tgl-theme {
  border: 1px solid #c0c6f3;
}
.dank-depths-theme .tgl-theme + .tgl-btn:after {
  background: #c0c6f3;
}
@media (min-width: 768px) {
  .dank-depths-theme #tooltip-wrapper::after {
    border-color: transparent transparent #363640 transparent;
  }
}
@media (max-width: 768px) {
  .dank-depths-theme #tooltips.active {
    background-color: #363640;
  }
}
.dank-depths-theme .button--language {
  border: 2px solid #363640;
}
.dank-depths-theme .button--language-active {
  font-weight: bold;
  background-color: #525262;
}

.gehenna-theme {
  background-color: #280E0E;
}
.gehenna-theme button.themed {
  background-color: #873535;
}
.gehenna-theme button.themed:hover {
  background-color: #D43838;
}
.gehenna-theme h1 > span {
  color: #EB2121;
}
.gehenna-theme .medias {
  fill: #FCE0E0;
}
.gehenna-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #200B0B);
  -moz-filter: drop-shadow(0px 7px 0 #200B0B);
  filter: drop-shadow(0px 7px 0 #200B0B);
}
.gehenna-theme .card-module {
  background-color: #FCE0E0;
}
.gehenna-theme .card-module--selected {
  background-color: #ef5555;
}
.gehenna-theme #cards-game, .gehenna-theme #options {
  background-color: #fff;
}
.gehenna-theme button.default, .gehenna-theme .button--default {
  background-color: #EB2121;
  border: 2px solid #873535;
}
.gehenna-theme button.default:hover, .gehenna-theme .button--default:hover {
  background-color: #c71212;
  cursor: pointer;
}
.gehenna-theme .button--submit {
  background-color: #EB2121;
}
.gehenna-theme .button--submit:hover {
  background-color: #690a0a;
}
.gehenna-theme .tooltip {
  background-color: #873535;
}
.gehenna-theme .tooltip-active::after {
  border-color: #873535 transparent transparent transparent;
}
.gehenna-theme select {
  background-color: #280E0E;
}
.gehenna-theme .checkbox-wrapper {
  border: 3px solid #EB2121;
  background: #280E0E;
}
.gehenna-theme input[type=range] {
  background: #EB2121;
}
.gehenna-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #280E0E;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.gehenna-theme .tgl-theme {
  border: 1px solid #EB2121;
}
.gehenna-theme .tgl-theme + .tgl-btn:after {
  background: #EB2121;
}
@media (min-width: 768px) {
  .gehenna-theme #tooltip-wrapper::after {
    border-color: transparent transparent #873535 transparent;
  }
}
@media (max-width: 768px) {
  .gehenna-theme #tooltips.active {
    background-color: #873535;
  }
}
.gehenna-theme .button--language {
  border: 2px solid #873535;
}
.gehenna-theme .button--language-active {
  font-weight: bold;
  background-color: #D43838;
}

.womb-theme {
  background-color: #540000;
}
.womb-theme button.themed {
  background-color: #A40000;
}
.womb-theme button.themed:hover {
  background-color: #FA0000;
}
.womb-theme h1 > span {
  color: #FA0000;
}
.womb-theme .medias {
  fill: #D20000;
}
.womb-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #430000);
  -moz-filter: drop-shadow(0px 7px 0 #430000);
  filter: drop-shadow(0px 7px 0 #430000);
}
.womb-theme .card-module {
  background-color: #D20000;
}
.womb-theme .card-module--selected {
  background-color: #390000;
}
.womb-theme #cards-game, .womb-theme #options {
  background-color: #FA0000;
}
.womb-theme button.default, .womb-theme .button--default {
  background-color: #971515;
  border: 2px solid #A40000;
}
.womb-theme button.default:hover, .womb-theme .button--default:hover {
  background-color: #6a0f0f;
  cursor: pointer;
}
.womb-theme .button--submit {
  background-color: #FA0000;
}
.womb-theme .button--submit:hover {
  background-color: #610000;
}
.womb-theme .tooltip {
  background-color: #A40000;
}
.womb-theme .tooltip-active::after {
  border-color: #A40000 transparent transparent transparent;
}
.womb-theme select {
  background-color: #540000;
}
.womb-theme .checkbox-wrapper {
  border: 3px solid #971515;
  background: #540000;
}
.womb-theme input[type=range] {
  background: #971515;
}
.womb-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #540000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.womb-theme .tgl-theme {
  border: 1px solid #971515;
}
.womb-theme .tgl-theme + .tgl-btn:after {
  background: #971515;
}
@media (min-width: 768px) {
  .womb-theme #tooltip-wrapper::after {
    border-color: transparent transparent #A40000 transparent;
  }
}
@media (max-width: 768px) {
  .womb-theme #tooltips.active {
    background-color: #A40000;
  }
}
.womb-theme .button--language {
  border: 2px solid #A40000;
}
.womb-theme .button--language-active {
  font-weight: bold;
  background-color: #FA0000;
}

.scarred-womb-theme {
  background-color: #A37F61;
}
.scarred-womb-theme button.themed {
  background-color: #873535;
}
.scarred-womb-theme button.themed:hover {
  background-color: #D43838;
}
.scarred-womb-theme h1 > span {
  color: #C00000;
}
.scarred-womb-theme .medias {
  fill: #E8DFD8;
}
.scarred-womb-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #82664E);
  -moz-filter: drop-shadow(0px 7px 0 #82664E);
  filter: drop-shadow(0px 7px 0 #82664E);
}
.scarred-womb-theme .card-module {
  background-color: #E8DFD8;
}
.scarred-womb-theme .card-module--selected {
  background-color: #af9078;
}
.scarred-womb-theme #cards-game, .scarred-womb-theme #options {
  background-color: #fff;
}
.scarred-womb-theme button.default, .scarred-womb-theme .button--default {
  background-color: #D20000;
  border: 2px solid #873535;
}
.scarred-womb-theme button.default:hover, .scarred-womb-theme .button--default:hover {
  background-color: #9f0000;
  cursor: pointer;
}
.scarred-womb-theme .button--submit {
  background-color: #D20000;
}
.scarred-womb-theme .button--submit:hover {
  background-color: #390000;
}
.scarred-womb-theme .tooltip {
  background-color: #873535;
}
.scarred-womb-theme .tooltip-active::after {
  border-color: #873535 transparent transparent transparent;
}
.scarred-womb-theme select {
  background-color: #A37F61;
}
.scarred-womb-theme .checkbox-wrapper {
  border: 3px solid #D20000;
  background: #A37F61;
}
.scarred-womb-theme input[type=range] {
  background: #D20000;
}
.scarred-womb-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #A37F61;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.scarred-womb-theme .tgl-theme {
  border: 1px solid #D20000;
}
.scarred-womb-theme .tgl-theme + .tgl-btn:after {
  background: #D20000;
}
@media (min-width: 768px) {
  .scarred-womb-theme #tooltip-wrapper::after {
    border-color: transparent transparent #873535 transparent;
  }
}
@media (max-width: 768px) {
  .scarred-womb-theme #tooltips.active {
    background-color: #873535;
  }
}
.scarred-womb-theme .button--language {
  border: 2px solid #873535;
}
.scarred-womb-theme .button--language-active {
  font-weight: bold;
  background-color: #D43838;
}

.dave-theme {
  background-color: #5371A3;
}
.dave-theme button.themed {
  background-color: #2A3A54;
}
.dave-theme button.themed:hover {
  background-color: #3B5175;
}
.dave-theme h1 > span {
  color: #FFC000;
}
.dave-theme .medias {
  fill: #3B5175;
}
.dave-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #425A82);
  -moz-filter: drop-shadow(0px 7px 0 #425A82);
  filter: drop-shadow(0px 7px 0 #425A82);
}
.dave-theme .card-module {
  background-color: #3B5175;
}
.dave-theme .card-module--selected {
  background-color: #080b0f;
}
.dave-theme #cards-game, .dave-theme #options {
  background-color: #2A3A54;
}
.dave-theme button.default, .dave-theme .button--default {
  background-color: #FFC000;
  border: 2px solid #2A3A54;
}
.dave-theme button.default:hover, .dave-theme .button--default:hover {
  background-color: #cc9a00;
  cursor: pointer;
}
.dave-theme .button--submit {
  background-color: #2A3A54;
}
.dave-theme .button--submit:hover {
  background-color: black;
}
.dave-theme .tooltip {
  background-color: #2A3A54;
}
.dave-theme .tooltip-active::after {
  border-color: #2A3A54 transparent transparent transparent;
}
.dave-theme select {
  background-color: #5371A3;
}
.dave-theme .checkbox-wrapper {
  border: 3px solid #FFC000;
  background: #5371A3;
}
.dave-theme input[type=range] {
  background: #FFC000;
}
.dave-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #5371A3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.dave-theme .tgl-theme {
  border: 1px solid #FFC000;
}
.dave-theme .tgl-theme + .tgl-btn:after {
  background: #FFC000;
}
@media (min-width: 768px) {
  .dave-theme #tooltip-wrapper::after {
    border-color: transparent transparent #2A3A54 transparent;
  }
}
@media (max-width: 768px) {
  .dave-theme #tooltips.active {
    background-color: #2A3A54;
  }
}
.dave-theme .button--language {
  border: 2px solid #2A3A54;
}
.dave-theme .button--language-active {
  font-weight: bold;
  background-color: #3B5175;
}

.corpse-theme {
  background-color: #323D2F;
}
.corpse-theme button.themed {
  background-color: #556F51;
}
.corpse-theme button.themed:hover {
  background-color: #71936B;
}
.corpse-theme h1 > span {
  color: #70835F;
}
.corpse-theme .medias {
  fill: #70835F;
}
.corpse-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #283126);
  -moz-filter: drop-shadow(0px 7px 0 #283126);
  filter: drop-shadow(0px 7px 0 #283126);
}
.corpse-theme .card-module {
  background-color: #70835F;
}
.corpse-theme .card-module--selected {
  background-color: #242a1f;
}
.corpse-theme #cards-game, .corpse-theme #options {
  background-color: #5F6F51;
}
.corpse-theme button.default, .corpse-theme .button--default {
  background-color: #9ab483;
  border: 2px solid #556F51;
}
.corpse-theme button.default:hover, .corpse-theme .button--default:hover {
  background-color: #80a163;
  cursor: pointer;
}
.corpse-theme .button--submit {
  background-color: #556F51;
}
.corpse-theme .button--submit:hover {
  background-color: #111710;
}
.corpse-theme .tooltip {
  background-color: #556F51;
}
.corpse-theme .tooltip-active::after {
  border-color: #556F51 transparent transparent transparent;
}
.corpse-theme select {
  background-color: #323D2F;
}
.corpse-theme .checkbox-wrapper {
  border: 3px solid #9ab483;
  background: #323D2F;
}
.corpse-theme input[type=range] {
  background: #9ab483;
}
.corpse-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #323D2F;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.corpse-theme .tgl-theme {
  border: 1px solid #9ab483;
}
.corpse-theme .tgl-theme + .tgl-btn:after {
  background: #9ab483;
}
@media (min-width: 768px) {
  .corpse-theme #tooltip-wrapper::after {
    border-color: transparent transparent #556F51 transparent;
  }
}
@media (max-width: 768px) {
  .corpse-theme #tooltips.active {
    background-color: #556F51;
  }
}
.corpse-theme .button--language {
  border: 2px solid #556F51;
}
.corpse-theme .button--language-active {
  font-weight: bold;
  background-color: #71936B;
}

.cathedral-theme {
  background-color: #20475A;
}
.cathedral-theme button.themed {
  background-color: #4A7FA0;
}
.cathedral-theme button.themed:hover {
  background-color: #79A6C1;
}
.cathedral-theme h1 > span {
  color: #A9C5D7;
}
.cathedral-theme .medias {
  fill: #8CB2CA;
}
.cathedral-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #1A3948);
  -moz-filter: drop-shadow(0px 7px 0 #1A3948);
  filter: drop-shadow(0px 7px 0 #1A3948);
}
.cathedral-theme .card-module {
  background-color: #8CB2CA;
}
.cathedral-theme .card-module--selected {
  background-color: #3c6681;
}
.cathedral-theme #cards-game, .cathedral-theme #options {
  background-color: #A9C5D7;
}
.cathedral-theme button.default, .cathedral-theme .button--default {
  background-color: #7192a7;
  border: 2px solid #4A7FA0;
}
.cathedral-theme button.default:hover, .cathedral-theme .button--default:hover {
  background-color: #58788d;
  cursor: pointer;
}
.cathedral-theme .button--submit {
  background-color: #FF8C2D;
}
.cathedral-theme .button--submit:hover {
  background-color: #934300;
}
.cathedral-theme .tooltip {
  background-color: #4A7FA0;
}
.cathedral-theme .tooltip-active::after {
  border-color: #4A7FA0 transparent transparent transparent;
}
.cathedral-theme select {
  background-color: #20475A;
}
.cathedral-theme .checkbox-wrapper {
  border: 3px solid #7192a7;
  background: #20475A;
}
.cathedral-theme input[type=range] {
  background: #7192a7;
}
.cathedral-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #20475A;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.cathedral-theme .tgl-theme {
  border: 1px solid #7192a7;
}
.cathedral-theme .tgl-theme + .tgl-btn:after {
  background: #7192a7;
}
@media (min-width: 768px) {
  .cathedral-theme #tooltip-wrapper::after {
    border-color: transparent transparent #4A7FA0 transparent;
  }
}
@media (max-width: 768px) {
  .cathedral-theme #tooltips.active {
    background-color: #4A7FA0;
  }
}
.cathedral-theme .button--language {
  border: 2px solid #4A7FA0;
}
.cathedral-theme .button--language-active {
  font-weight: bold;
  background-color: #79A6C1;
}

.sheol-theme {
  background-color: #0D0D0D;
}
.sheol-theme button.themed {
  background-color: #262626;
}
.sheol-theme button.themed:hover {
  background-color: #404040;
}
.sheol-theme h1 > span {
  color: #7F7F7F;
}
.sheol-theme .medias {
  fill: #4B4B4B;
}
.sheol-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #0D0D0D);
  -moz-filter: drop-shadow(0px 7px 0 #0D0D0D);
  filter: drop-shadow(0px 7px 0 #0D0D0D);
}
.sheol-theme .card-module {
  background-color: #4B4B4B;
}
.sheol-theme .card-module--selected {
  background-color: black;
}
.sheol-theme #cards-game, .sheol-theme #options {
  background-color: #2E2E2E;
}
.sheol-theme button.default, .sheol-theme .button--default {
  background-color: #404040;
  border: 2px solid #262626;
}
.sheol-theme button.default:hover, .sheol-theme .button--default:hover {
  background-color: #272727;
  cursor: pointer;
}
.sheol-theme .button--submit {
  background-color: #262626;
}
.sheol-theme .button--submit:hover {
  background-color: black;
}
.sheol-theme .tooltip {
  background-color: #262626;
}
.sheol-theme .tooltip-active::after {
  border-color: #262626 transparent transparent transparent;
}
.sheol-theme select {
  background-color: #0D0D0D;
}
.sheol-theme .checkbox-wrapper {
  border: 3px solid #404040;
  background: #0D0D0D;
}
.sheol-theme input[type=range] {
  background: #404040;
}
.sheol-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #0D0D0D;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.sheol-theme .tgl-theme {
  border: 1px solid #404040;
}
.sheol-theme .tgl-theme + .tgl-btn:after {
  background: #404040;
}
@media (min-width: 768px) {
  .sheol-theme #tooltip-wrapper::after {
    border-color: transparent transparent #262626 transparent;
  }
}
@media (max-width: 768px) {
  .sheol-theme #tooltips.active {
    background-color: #262626;
  }
}
.sheol-theme .button--language {
  border: 2px solid #262626;
}
.sheol-theme .button--language-active {
  font-weight: bold;
  background-color: #404040;
}

.chest-theme {
  background-color: #3B2819;
}
.chest-theme button.themed {
  background-color: #805738;
}
.chest-theme button.themed:hover {
  background-color: #B9865F;
}
.chest-theme h1 > span {
  color: #FFC000;
}
.chest-theme .medias {
  fill: #FFF0C1;
}
.chest-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #2F2014);
  -moz-filter: drop-shadow(0px 7px 0 #2F2014);
  filter: drop-shadow(0px 7px 0 #2F2014);
}
.chest-theme .card-module {
  background-color: #FFF0C1;
}
.chest-theme .card-module--selected {
  background-color: #ffcb28;
}
.chest-theme #cards-game, .chest-theme #options {
  background-color: #AC6414;
}
.chest-theme button.default, .chest-theme .button--default {
  background-color: #FFC000;
  border: 2px solid #805738;
}
.chest-theme button.default:hover, .chest-theme .button--default:hover {
  background-color: #cc9a00;
  cursor: pointer;
}
.chest-theme .button--submit {
  background-color: #FFC000;
}
.chest-theme .button--submit:hover {
  background-color: #664d00;
}
.chest-theme .tooltip {
  background-color: #805738;
}
.chest-theme .tooltip-active::after {
  border-color: #805738 transparent transparent transparent;
}
.chest-theme select {
  background-color: #3B2819;
}
.chest-theme .checkbox-wrapper {
  border: 3px solid #FFC000;
  background: #3B2819;
}
.chest-theme input[type=range] {
  background: #FFC000;
}
.chest-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #3B2819;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.chest-theme .tgl-theme {
  border: 1px solid #FFC000;
}
.chest-theme .tgl-theme + .tgl-btn:after {
  background: #FFC000;
}
@media (min-width: 768px) {
  .chest-theme #tooltip-wrapper::after {
    border-color: transparent transparent #805738 transparent;
  }
}
@media (max-width: 768px) {
  .chest-theme #tooltips.active {
    background-color: #805738;
  }
}
.chest-theme .button--language {
  border: 2px solid #805738;
}
.chest-theme .button--language-active {
  font-weight: bold;
  background-color: #B9865F;
}

.dark-room-theme {
  background-color: #261036;
}
.dark-room-theme button.themed {
  background-color: #402C5A;
}
.dark-room-theme button.themed:hover {
  background-color: #665272;
}
.dark-room-theme h1 > span {
  color: #665272;
}
.dark-room-theme .medias {
  fill: #4B4B4B;
}
.dark-room-theme .shadow-theme {
  -webkit-filter: drop-shadow(0px 7px 0 #261036);
  -moz-filter: drop-shadow(0px 7px 0 #261036);
  filter: drop-shadow(0px 7px 0 #261036);
}
.dark-room-theme .card-module {
  background-color: #4B4B4B;
}
.dark-room-theme .card-module--selected {
  background-color: black;
}
.dark-room-theme #cards-game, .dark-room-theme #options {
  background-color: #000000;
}
.dark-room-theme button.default, .dark-room-theme .button--default {
  background-color: #816791;
  border: 2px solid #402C5A;
}
.dark-room-theme button.default:hover, .dark-room-theme .button--default:hover {
  background-color: #665273;
  cursor: pointer;
}
.dark-room-theme .button--submit {
  background-color: #665272;
}
.dark-room-theme .button--submit:hover {
  background-color: #161219;
}
.dark-room-theme .tooltip {
  background-color: #402C5A;
}
.dark-room-theme .tooltip-active::after {
  border-color: #402C5A transparent transparent transparent;
}
.dark-room-theme select {
  background-color: #261036;
}
.dark-room-theme .checkbox-wrapper {
  border: 3px solid #816791;
  background: #261036;
}
.dark-room-theme input[type=range] {
  background: #816791;
}
.dark-room-theme input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #261036;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.dark-room-theme .tgl-theme {
  border: 1px solid #816791;
}
.dark-room-theme .tgl-theme + .tgl-btn:after {
  background: #816791;
}
@media (min-width: 768px) {
  .dark-room-theme #tooltip-wrapper::after {
    border-color: transparent transparent #402C5A transparent;
  }
}
@media (max-width: 768px) {
  .dark-room-theme #tooltips.active {
    background-color: #402C5A;
  }
}
.dark-room-theme .button--language {
  border: 2px solid #402C5A;
}
.dark-room-theme .button--language-active {
  font-weight: bold;
  background-color: #665272;
}

.ph-theme #title h1 {
  color: #000;
}
.ph-theme select, .ph-theme option, .ph-theme label::after {
  color: #000;
}
.ph-theme #tooltip-icons {
  color: #000;
}
.ph-theme #options {
  color: #000;
}
.ph-theme .group-list {
  color: #000;
}

.scarred-womb-theme .button--submit {
  color: #fff;
}
.scarred-womb-theme .button--shuffle {
  color: #fff;
}

.dave-theme .button--submit {
  color: #fff;
}
.dave-theme .button--shuffle {
  color: #fff;
}

.sheol-theme .button--submit {
  color: #fff;
}
.sheol-theme .button--shuffle {
  color: #fff;
}

.dave-theme #options {
  color: #fff;
}

.corpse-theme #options {
  color: #fff;
}

.sheol-theme #options {
  color: #fff;
}

.dark-room-theme #options {
  color: #fff;
}

/*# sourceMappingURL=themes.css.map */
