@font-face {
    font-family: 'Upheaval';
    src: url("/assets/fonts/upheavtt.ttf");
}

@font-face {
    font-family: 'team-meat';
    src: url("/assets/fonts/IsaacGame.ttf");
}

@font-face {
    font-family: 'Material Symbols Outlined';
    src: url("/assets/fonts/MaterialSymbolsOutlined.woff2") format('woff2'),
         url("/assets/fonts/MaterialSymbolsOutlined.ttf");
}

@font-face {
    font-family: 'Material Symbols Rounded';
    src: url("/assets/fonts/MaterialSymbolsRounded.woff2") format('woff2'),
         url("/assets/fonts/MaterialSymbolsRounded.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    padding: 10px;
    height: 100vh;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button:active {
    transform: scale(0.9);
}

ol, ul {
    list-style: none;
    padding: 0;
}

#background {
    transition: background .2s ease-in;
}

.upheaval {
    font-family: 'Upheaval';
}

.team-meat {
    font-family: 'team-meat';
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.symbol-fill {
    font-variation-settings: 'FILL' 1;
}


/******* Modaux *******/
#modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    border: 3px solid;
}

.close-button {
    border: none;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background: none;
}

.topright {
    position: absolute;
    top: -10px;
    right: 0;
}

.modal-content button {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    padding: 3px 10px;
    border: 2px solid;
    font-variation-settings: 'GRAD' -25;
    transition: all 0.5 ease;
}

.hearts img {
    image-rendering: pixelated;
    width: 3em;
}

.card-module {
    border-radius: 5px;
    padding: 0.5em;
    margin: 2px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-module img {
    width: 6em;
    image-rendering: pixelated;

}

.card-module--disabled {
    cursor: default;
}

.rainbow {
    animation: rainbow 1s steps(36) infinite;
    -webkit-animation: rainbow 1s steps(36) infinite;
}

.card-module--shake {
    animation: shake 0.5s;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.solved-group {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solved-group--title {
    font-size: x-large;
}

.solved-group--card {
    margin: 0 5px;
}

.solved-group--card img {
    width: 3em;
    image-rendering: pixelated;
}

.solved-group--cards {
    display: flex;
    flex-wrap: wrap;
}

.solved-group--card {
    display: flex;
    align-items: center;
}

.button--disabled:active {
    transform: scale(1);
}

#tooltip-wrapper
{
    position: fixed;
    transition: all 0.5s ease;
}

#tooltip-icons span
{
    cursor: pointer;
}

.tooltip {
    position: relative;
    text-align: center;
    padding: 5px 10px;
    z-index: 1;
    animation: tooltip-show 0.5s ease;
}

.tooltip-content {
    position: relative;
}

.tooltip-active {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}

.tooltip-inactive {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

@media (min-width: 768px) { 
    #tooltip-wrapper::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -17px;
        border-width: 17px;
        border-style: solid;
        -webkit-animation-fill-mode: forwards; 
        -moz-animation-fill-mode: forwards;    
        -o-animation-fill-mode: forwards;      
        -ms-animation-fill-mode: forwards;     
        animation-fill-mode: forwards;
    }

    #tooltip-wrapper::after {
        top: -30px;
        animation: tooltip-show 0.5s ease;
        transition: all 0.5s ease;
        bottom: unset;
    }

    #tooltip-wrapper[data-id="stats"]::after {
        left: 9%;
    }

    #tooltip-wrapper[data-id="schedule"]::after {
        left: 17%;
    }

    #tooltip-wrapper[data-id="help"]::after {
        left: 29.5%;
    }

    #tooltip-wrapper[data-id="settings"]::after {
        left: 38%;
    }
 }

 @media (max-width: 768px) {
    .tooltip-active::after {
        content: "";
        position: absolute;
        animation: tooltip-show 0.5s ease, invisible 0.5s ease;
        bottom: 50px;
        margin-left: -28px;
        border-width: 17px;
        border-style: solid;
        -webkit-animation-fill-mode: forwards; 
        -moz-animation-fill-mode: forwards;    
        -o-animation-fill-mode: forwards;      
        -ms-animation-fill-mode: forwards;     
        animation-fill-mode: forwards;
    }
 }

  
.theme-selection select {
    width: 100%;
    height: 40px;
    padding-left: 50px;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-align: right;
}

.theme-selection label {
    position: relative;
}

.theme-selection label:after {
    content: "< >";
    font-size: 11px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-weight: 900;
    left: 20px;
    top: 10px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.theme-selection option {
    text-align: left;
}

/* Keyframes */

@keyframes shake {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-5px);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(5px);
    }
    90% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes tooltip-show {
    0% {
        visibility: hidden;
    }
    10% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    30% {
        visibility: hidden;
    }
    40% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    60% {
        visibility: hidden;
    }
    70% {
        visibility: hidden;
    }
    80% {
        visibility: hidden;
    }
    90% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes invisible {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(20px);
    }
}
  
  @-webkit-keyframes rainbow {
     from { -webkit-filter:hue-rotate(10deg); }
       to { -webkit-filter:hue-rotate(360deg); }
  }
  
  @keyframes rainbow {
   from {
      -webkit-filter:hue-rotate(10deg);
              filter:hue-rotate(10deg);
      }
    to {
      -webkit-filter:hue-rotate(360deg);
              filter:hue-rotate(360deg);
      }
  }

.checkbox-wrapper .tgl {
    display: none;
}

.checkbox-wrapper .tgl,
.checkbox-wrapper .tgl:after,
.checkbox-wrapper .tgl:before,
.checkbox-wrapper .tgl *,
.checkbox-wrapper .tgl *:after,
.checkbox-wrapper .tgl *:before,
.checkbox-wrapper .tgl + .tgl-btn {
    box-sizing: border-box;
}
.checkbox-wrapper .tgl::-moz-selection,
.checkbox-wrapper .tgl:after::-moz-selection,
.checkbox-wrapper .tgl:before::-moz-selection,
.checkbox-wrapper .tgl *::-moz-selection,
.checkbox-wrapper .tgl *:after::-moz-selection,
.checkbox-wrapper .tgl *:before::-moz-selection,
.checkbox-wrapper .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper .tgl::selection,
.checkbox-wrapper .tgl:after::selection,
.checkbox-wrapper .tgl:before::selection,
.checkbox-wrapper .tgl *::selection,
.checkbox-wrapper .tgl *:after::selection,
.checkbox-wrapper .tgl *:before::selection,
.checkbox-wrapper .tgl + .tgl-btn::selection {
    background: none;
}
.checkbox-wrapper .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-wrapper .tgl + .tgl-btn:after,
.checkbox-wrapper .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.checkbox-wrapper .tgl + .tgl-btn:after {
    left: 0;
}
.checkbox-wrapper .tgl + .tgl-btn:before {
    display: none;
}
.checkbox-wrapper .tgl:checked + .tgl-btn:after {
    left: 50%;
}

.checkbox-wrapper .tgl-theme + .tgl-btn {
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}
.checkbox-wrapper .tgl-theme + .tgl-btn:after {
    border-radius: 2em;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}
.checkbox-wrapper .tgl-theme + .tgl-btn:hover:after {
    will-change: padding;
}

.checkbox-wrapper .tgl-theme + .tgl-btn:active:after {
    padding-right: 0.8em;
}

.checkbox-wrapper .tgl-theme:checked + .tgl-btn:active {
    box-shadow: none;
}

.checkbox-wrapper .tgl-theme:checked + .tgl-btn:active:after {
    margin-left: -0.8em;
}