:root {
    --main-theme-color: #42291A;
    --main-theme-color--secondary: #71472D;
    --main-theme-color--shadows: #281910;
    --main-theme-color--title: #FF5B5B;

    --purple-theme-color: #2F1D2E;
    --purple-theme-color--secondary: #5F3B5D;
    --purple-theme-color--title: #C301FF;
    --purple-theme-color--shadows: #1C111C;
}

@font-face {
    font-family: 'Upheaval';
    src: url("/assets/fonts/upheavtt.ttf");
}

@font-face {
    font-family: 'team-meat';
    src: url("/assets/fonts/IsaacGame.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 10px;
    height: 100vh;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

ol, ul {
    list-style: none;
    padding: 0;
}

#background {
    transition: background .2s ease-in;
}

.upheaval {
    font-family: 'Upheaval';
}

.team-meat {
    font-family: 'team-meat';
}

/******* THEMES *****/
/* Main Theme */

body.main-theme {
    background-color: var(--main-theme-color);
}

.main-theme button {
    background-color: var(--main-theme-color--secondary);
}

.main-theme .shadow-theme {
    -webkit-filter: drop-shadow(0px 7px 0  var(--main-theme-color--shadows));
    -moz-filter: drop-shadow(0px 7px 0 var(--main-theme-color--shadows));
    filter: drop-shadow(0px 7px 0 var(--main-theme-color--shadows));
}

.main-theme h1 > span {
    color: var(--main-theme-color--title);
}

/* Purple Theme */

body.purple-theme {
    background-color: var(--purple-theme-color);
}

.purple-theme button {
    background-color: var(--purple-theme-color--secondary);
}

.purple-theme h1 > span {
    color: var(--purple-theme-color--title);
}

.purple-theme .shadow-theme {
    -webkit-filter: drop-shadow(0px 7px 0  var(--purple-theme-color--shadows));
    -moz-filter: drop-shadow(0px 7px 0 var(--purple-theme-color--shadows));
    filter: drop-shadow(0px 7px 0 var(--purple-theme-color--shadows));
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    max-width: 620px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal--show {
    display: flex;
}

.close {
    color: #000;
    float: right;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.streak {
    --streak-width: 100%;
    --streak-height: 45px;
    image-rendering: pixelated;
    background-image: url(/assets/effect_streak.png);
    background-repeat: no-repeat;
    background-size: var(--streak-width) var(--streak-height);
    width: var(--streak-width);
    height: var(--streak-height);
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    font-size: 2.2em;
    transition: width 0.3s ease;
    text-wrap: nowrap;
    background-position: center;
}

.background-preview {
    --background-preview-width: 131px;
    --background-preview-height: 74px;
    position: relative;
    text-align: center;
    width: var(--background-preview-width);
    height: var(--background-preview-height);
    background-image: var(--bgimage);
    background-size: cover;
    font-size: 1em;
    mask-image: url(/assets/paper.png);
    --webkit-mask-image: url(/assets/paper.png);
    mask-size: var(--background-preview-width) var(--background-preview-height);
    --webkit-mask-size: var(--background-preview-width) var(--background-preview-height);
    transition: .3s ease;
}

.background-preview:hover {
    transform: scale(1.1);
    z-index: 1;
}

.bg-paper {
    background-color: #f1f2f6;
}

.svg-option {
    font-size: 2em;
    height: 1em;
}

.hearts img {
    image-rendering: pixelated;
    width: 3em;
}

.wrapper-countdown {
    background-color: beige;
    width: 150px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
}

.countdown {
    font-size: 2rem;

}

.card-module {
    background-color: #E9DADF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-module img {
    width: 4em;
    image-rendering: pixelated;

}

.card-module--selected {
    background-color: #7e7e7e;
}

.card-module--disabled {
    cursor: default;
}

.card-module--disabled img {
    filter: grayscale(100%);
    opacity: 0.5;
}

.rainbow {
    animation: rainbow 1s steps(36) infinite;
    -webkit-animation: rainbow 1s steps(36) infinite;
}

.card-module--shake {
    animation: shake 0.5s;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.solved-group {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.solved-group--title {
    font-size: x-large;
}

.solved-group--card {
    margin: 0 5px;
}

.solved-group--cards {
    display: flex;
    flex-wrap: wrap;
}

.solved-group--card {
    display: flex;
    align-items: center;
}

.button--disabled {
    background-color: #7e7e7e !important;
    color: #cecece !important;
    cursor: default;
}

/* Keyframes */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
  
  @-webkit-keyframes rainbow {
     from { -webkit-filter:hue-rotate(10deg); }
       to { -webkit-filter:hue-rotate(360deg); }
  }
  
  @keyframes rainbow {
   from {
      -webkit-filter:hue-rotate(10deg);
              filter:hue-rotate(10deg);
      }
    to {
      -webkit-filter:hue-rotate(360deg);
              filter:hue-rotate(360deg);
      }
  }